.main__content {
  max-width: 120rem;
  margin: 0 auto;
}

/* Form para adicionar o link */
.link__content {
  justify-content: center;
}

button {
  padding: 1.3rem 5rem;
  border: none;
  border-radius: 0.9rem;
  font-size: 1.9rem;
  font-weight: 400;
  cursor: pointer;
}

/* Footer */
footer {
  background: var(--cor-cinza-médio);
}
.footer {
  font-size: 1.6rem;
  text-align: center;
  padding: 5rem;
}

.footer p {
  padding-bottom: 1.5rem;
}

.footer .redes__sociais a {
  font-size: 3.2rem;
  color: var(--cor-azul-escuro);
}
